# Node modules
/node_modules/

# Public build and hot files
/public/build
/public/hot
/public/storage
public_html/storage
public_html/hot

# Laravel and Lumen specific
/storage/*.key
/bootstrap/compiled.php
app/storage/
.env
.env.backup
.env.production

# PHPUnit
/.phpunit.cache
/.phpunit.result.cache

# Misc
/vendor/
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
Homestead.json
Homestead.yaml
auth.json
/.vagrant
.phpactor.json

